@import url('./email/checklist__email.css');
@import url('./main/checklist__main.css');
@import url('./name/checklist__name.css');
@import url('./rating/checklist__rating.css');
@import url('./registration/checklist__registration.css');
@import url('./border/checklist__border.css');
@import url('./cancel/checklist__cancel.css');
@import url('./username/checklist__username.css');


.checklist {
    width: 961px;
    margin: 12px auto 72px;
    background: #FFFFFF;
    box-shadow: 0px 18px 15px rgba(148, 148, 148, 0.15);
    border-radius: 7px;
}